h2 {

    text-align: center;
}

.intro {    /*DRIE DASHBOARD BUTTONS*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;

        a {
        background-color: var(--lightpink);
        text-align: center;
        text-wrap: wrap;
        padding: .5em;
        border-radius: 8px;
        }

        a:nth-of-type(2) {
            background-color: var(--lightcyan);
        }

        a:nth-of-type(3) {
            background-color: var(--lightblue);
        }
}    

.recommended-buttons {  
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 9em;
    width: 100%;

    button {
        border-color: transparent;
    }
    button:nth-of-type(1) {
        padding: 0.5em;
        border-radius: 8px;
        background-color: var(--midgrey);
        
    }
    button:nth-of-type(2) {
        padding:1em;
    }
}