/*DASHBOARD-HEADER*/
.dashboard-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.browse-buttons {
    padding: 1em;
    background-color: var(--midgrey);
}

.find-colleagues-browse {
    background-color: var(--lightpink); 
}

.projects-browse {
    background-color: var(--lightcyan);
}

.events-browse {
    background-color: var(--lightblue);
}

/*RECOMMENDED-FOR-YOU*/
.filters {
    display: flex;
    flex-direction: row;
        background-color: pink; /*DELETE LATER*/
    padding: 2em;
}


.recommended-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

h2 {
    margin-bottom: 0em;
}