h2 {

    text-align: center;
}

.intro {    /*DRIE DASHBOARD BUTTONS*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1em;

        a {
        background-color: var(--lightpink);
        text-align: center;
        text-wrap: wrap;
        padding: .5em;
        border-radius: 8px;
        box-shadow: 0px 4px 0px var(--dropshadow)
        }

        a:nth-of-type(2) {
            background-color: var(--lightcyan);
        }

        a:nth-of-type(3) {
            background-color: var(--lightblue);
        }

        a:hover {
            box-shadow:none;
        }
}    
 input {
    margin: 2em;
    background-color: var(--midgrey);
    border-color: transparent;
    border-radius: 30px;
    padding: 1em;
    font-size: medium;
 }
.recommended-buttons, .bookmarked-buttons {  
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 9em;
    width: 100%;

    button {
        border-color: transparent;
    }
    button:nth-of-type(1) {
        padding: 0.5em;
        border-radius: 8px;
        background-color: var(--midgrey);
        
    }
    button:nth-of-type(2) {
        padding:1em;
        border-radius: 8px;;
    }
    button:nth-of-type(2):hover {
        background-color: var(--darkgrey);
    }
}

