/* CSS */

:root {
    --lightpink: #EFB4D9;
    --darkpink: #E68EC5;
    --deeppink: #80285F;
    --lightcyan: #C2E9E1;
    --darkcyan: #66C7B4;
    --lightblue: #C2E1F2;
    --darkblue: #66B3DF;
    --lightgrey: #F2F2F2;
    --midgrey: #E6E6E6;
    --darkgrey: #322F2F;
    --background-website: #F2F2F2;
    --dropshadow: #14131340;

    --bodytext: #494949;
    --lightbodytext: #616161;

}

/* TOP NAVIGATION */
#hamburger-menu{
    border-radius: 8px;
}
    #hamburger-menu:hover {
        background-color: var(--darkgrey);
        svg {
            path{
                fill:white;}
        }
    }

/* END TOP NAVIGATION */
body {
    margin: 0;
    background-color: var(--background-website);
    font-family: 'TASA orbiter', sans-serif;
    color: var(--bodytext);
}

article {
    padding: 0 1em 0 1em;
}

nav {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;

    img {
        width: 5em;
        height: auto;
    }

    button {
        padding: 1em;
        border-color: transparent;
    }
}

footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 100%;
        position: fixed;
        bottom: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        gap:1em;

        button {
            background-color: transparent;
            width: 4em;
            height: 4em;
            padding: 1em;
            border-radius: 8px;
            border-color: transparent;
        }

        button:hover {
            background-color: var(--darkgrey);
            svg {
                path {
                    fill: white;
                }
            }
        }

}

a {
    color: var(--bodytext);
    text-wrap: wrap;
    text-decoration: none;
    font-size: 1.5em;
}

/* CURSOR PROPERTIES */
button:hover {
    cursor: pointer;
}

