/* CSS */

:root {
    --lightpink: #EFB4D9;
    --darkpink: #E68EC5;
    --deeppink: #80285F;
    --lightcyan: #C2E9E1;
    --darkcyan: #66C7B4;
    --lightblue: #C2E1F2;
    --darkblue: #66B3DF;
    --lightgrey: #F2F2F2;
    --midgrey: #E6E6E6;
    --darkgrey: #322F2F;

    --bodytext: #494949;
    --lightbodytext: #616161;

}

body {
    background-color: var(--lightgrey);
    font-family: 'TASA orbiter', sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: white;
}

    .logo-nav{
        width: 7em;
        height: 7em;
    }


